.color-selector {
  width: 20%;
  height: 40%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


.selector-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.pink {
  background-color: lightcoral;
}

.green {
  background-color: seagreen;
}

.silver {
  background-color: silver;
}